# Variables used for connecting to your local Postgres server
PGHOST=localhost
PGPORT=5432
PGDATABASE=todos_db
PGUSER=""
PGPASSWORD=""

# When deploying, set this to your hosted database URL instead of the vars above
PG_CONNECTION_STRING=""
